[Desktop Entry]
Version=1.0
Name=GuguGaga
Comment=A stand-alone graphics API debugger
GenericName=Graphics Debugger
Exec=qgugugaga %f
Icon=application-x-gugugaga-capture
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Development;
StartupNotify=true
MimeType=application/x-gugugaga-capture;
